.hidden {
    display: none;
}

/* #region common */
/* font-family: "Raleway",
sans-serif;
font-family: "Roboto",
sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion common */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* #endregion header */

/* #region mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-nav-link.mobil-nav-link-studio {
    color: #404bbf;
}

.mobile-menu-contacts-item {
    display: block;
    margin-bottom: 24px;
}

.mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-contacts-link.mobile-menu-contact-tel {
    color: #4d5ae5;
}

.mobile-menu-socials-container {
    padding-top: 48px;
}

.mobile-menu-socials-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-socials-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile-menu */

/* #region first-section */
.first-section {
    margin: 0 auto;
    padding: 72px 0;
    background-color: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
}

.main-text {
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
}

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .first-section {
        padding: 112px 0;
        max-width: 768px;
    }

    .main-text {
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .main-button:hover,
    .main-button:focus {
        background-color: #404BBF;
    }
}

@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0;
        max-width: 1440px;
    }

    .main-text {
        margin-bottom: 48px;
    }
}

/* #endregion first-section */

/* #region second-section */
.second-section-icons {
    display: none;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
}

.section-item {
    background-color: #FFFFFF;
    width: 100%;
}

.text-dy-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.explain {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .section-list {
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    }

    .section-item {
        width: calc((100% - 24px) / 2);
    }

    .text-dy-text {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .second-section-icons {
        display: flex;
        margin: 0 auto;
    }

    .second-section-container {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .section-list {
        display: flex;
        gap: 24px;
    }

    .section-item {
        width: calc((100% - 72px) / 4);
    }

    .text-dy-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .explain {
        font-weight: 400;
    }
}

/* #endregion second-section */

/* #region third-section */
.third-section {
    background-color: #F4F4FD;
}

.text {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section-item {
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.third-section-container {
    padding: 32px 0;
}

.text-dy-text-center {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.explain-center {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.third-section-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.third-section-socials-item {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}

.third-section-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-third-section {
    fill: #f4f4fd;
}

@media screen and (min-width: 1158px) {

    .third-section-socials-link:hover,
    .third-section-socials-link:focus {
        background-color: #404BBF;
    }
}

/* #endregion third-section */

/* #region fourth-section */
.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 48px;
}

.fourth-section-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.fourth-section-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.fourth-section-img-container {
    position: relative;
    overflow: hidden;
}

.text-img-fourth-section {
    display: none;
}

.fourth-section-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;

    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .fourth-section-list {
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    }

    .text-img-fourth-section {
        display: flex;
        margin: 0 auto;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .fourth-section-img-container:hover .text-img-fourth-section {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 1158px) {
    .fourth-section-list {
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
    }

    .fourth-section-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .fourth-section-item:hover {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }
}

/* #endregion fourth-section */

/* #region footer */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-explain {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 288px;
}

.footer-socials-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.svg-footer {
    fill: #f4f4fd;
}

.footer-mail-text {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: block;
}

.footer-form-label {
    margin-bottom: 16px;
}

.footer-form-input {
    min-width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    margin-bottom: 16px;
    color: #ffffff;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;

    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-button {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 24px;
    min-width: 165px;
    height: 40px;
    border: none;

    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-button-svg {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
        padding-left: 108px;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-explain {
        max-width: 264px;
    }

    .footer-socials-text {
        text-align: left;
    }

    .footer-mail-text {
        text-align: left;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-form-input {
        min-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }

    .footer-container {

        row-gap: 0px;
        column-gap: 0px;
        padding-left: 15px;
    }

    .footer-form-input:hover {
        border-color: #31d0aa;
    }

    .footer-button:hover,
    .footer-button:focus {
        background-color: #31d0aa;
    }
}

/* #endregion footer */

/* #region modal */
.modal-overlay-container {
    background-color: rgba(46, 47, 66, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;

    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-container {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-container {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-person-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-person-svg {
    fill: #4d5ae5;
}

.modal-form-comment-container {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-container {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-checkbox-svg {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;
}

.modal-checkbox-input:checked+.modal-checkbox-label>.checkbox-svg {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-form-button {
    display: block;
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal-container {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-close-button:hover,
    .modal-close-button:focus {
        background-color: #404bbf;
        order: none;
        fill: #ffffff;
    }

    .modal-close-button-svg:hover,
    .modal-close-button-svg:focus {
        fill: #ffffff;
    }

    .modal-form-input:focus {
        border-color: #4d5ae5;
    }

    .modal-form-textarea:focus {
        border-color: #4d5ae5;
    }

    .modal-form-button:hover,
    .modal-form-button:focus {
        background-color: #404bbf;
    }
}

/* #endregion modal */